extends layout
include ./includes/mixins.jade

block content

  audio#audio-display-panel
    source(src="/audio/display_panel.m4a")
  audio#audio-mouse-enter-land
    source(src="/audio/mouse_enter_land.wav")
  audio#audio-click-land
    source(src="/audio/click_land.mp3")
  
    
  #display-panel
    h1#country-name Click to discover regions on the map!
  
  //- +testMixin()

  #map-container
    include ./includes/map-phillipines.jade
  //-   #map
      //- include ./includes/map-usa.jade
      //- include ./includes/map-phillipines.jade
  
  //- include ./includes/map-usa.jade
    
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascripts/main.js")

    
