extends layout
include ./includes/mixins.jade

block content
  #display
    h1#country-name Click on a province!
  
  //- +testMixin()

  #ocean
    include ./includes/map.jade
    
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascripts/main.js")

    
