extends layout
include ./includes/mixins.jade

block content
  h1 Check out this map!
  +testMixin()
  
  #ocean
    include ./includes/map.jade
    
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascripts/main.js")

    
